.env
.idea
node_modules
coverage
coverage.json
typechain
cache
artifacts
deployments/localhost
.openzeppelin/unknown-1337.json
yarn-error.log
typechain-types
contracts-exposed

# scripts
poly-burn.js
poly-burn-listener.js
heco-lock.js
heco-lock-listener.js